<pre>

Origins:

From a very early age I've been in love with music. As a small child
I was more or less forced to endure violin lessons, not something that
made me feel either happy or good about what I was doing there. In
fact it was highly frustrating. Then from ages 7 to nine or so I went
to piano lessons, this I liked a lot better but we never really got
around to making music.

By age 18 I'd dropped out of school, got a job and went to nightschool.

I always loved the saxophone and ended up buying one from one of my
first salaries. Bit by bit I taught myself to play. At some point
I had to give up the sax due to a lung issue. I tried the flute but
didn't like it and at the ripe old age of 55 decided to get back into
piano.

But this time I was determined it should stay fun, rather than a chore
and I wanted to concentrate on making music, not on endless runs and
other boring ways of practicing. Because I like computers and have been
a lifelong programmer I tried to combine my love of music and the ability
to let computers help me achieve my goals. I searched around for a bit
if there was any software that could help me with my practicing and found
Pianobooster. 

Pianobooster:

Pianobooster is a clever piece of software, it allows you
to load a midi file and then to practice using that file from an automatically
generated score.

I absolutely love pianobooster, but making changes to it was an ordeal
at best and sometimes the features I desired were so hard to realize
I left them out of my local copy completely. The project was not maintained
for a long time, though there seems to be some life in it now. Many
thanks to mr. Louis Barman, the author of Pianobooster.

Pianojacq:

So, this project was heavily inspired by Pianobooster, especially the user
interface which I've tried to keep close to what Pianobooster shows, it
was good enough and I saw no reason to change the fundamentals. I searched
for a good domain and couldn't really find anything I particularly liked so
I ended up with this one, for now it will do, if anybody out there has a 
better idea let me know.

Some expensive promises:

- you, the user are the main focal point of this project

- your data will never ever be sold

- You will be in direct control of your data, right now all of your 
  data is stored on *your* computer, not on our servers, if there is
  going to be a server side component to this then we will always
  make that optional, not mandatory.

- Every future release will be backwards compatible with previous releases

- We will <b>always</b> make the user experience trump our personal interests

- We will ensure that your data - insofar we
  store any, see above - will always be as safe as possible

- We will never compromise your privacy

More of these may be added over time, these seem to be the ones
that make the most sense at this stage of the project. 

So, here we are, a fledgling project. It works, but barely so. 

Even so, it gets a lot of stuff right, for one it shows the score with
much higher fidelity than pianobooster ever did (and I intend to improve
on that further), thanks to VexFlow, a very nice library that draws
musical scores. 

It does not require you to download anything other than your favorite
midi files. It shows you graphically how well - or how bad, in my case ;) -
you are doing and which parts of the piece you are practicing still needs
work. It shows you your progress over time, which I think is an important
factor in any kind of learning. 

And finally, it has the possibility to be combined with some kind of
service that would guide you through your studies. But first I need to
get the basics right.

If you have any bug reports or other feedback please use the 
<a href='https://gitlab.com/jmattheij/pianojacq'>issues</a> page, or if you don't feel like doing it that 
way, you can always mail me via jacques@modularcompany.com, please put 
'pianojacq' somewhere in the subject header so I can easily locate 
your message.

This program could not have been built without:

<a href='https://github.com/0xfe/vexflow'>VexFlow</a> does the rendering.

<a href='https://github.com/Tonejs/'>Tone.js</a> outputs the sound if you don't have an output device, 
and does the midi file parsing.

<a href='https://jquery.com/'>jquery</a> makes javascript almost palatable.

<a href='https://github.com/google/lovefield'>Lovefield</a> keeps your data safe (well, as long as you back it up!), it is the database we use.

