<pre>

If you are reading this it means that your browser does not support the WebMIDI extension.

This is a real pity, but with some luck <a target='_new' href='https://www.google.com/chrome/'>Google Chrome</a> will work on your system.

If you already have chrome please start up chrome and revisit the website using
that browser, otherwise you will have to install it.

For FireFox this has been an open issue for <b>Eight Years</b>. See: <a target='_new' href='https://bugzilla.mozilla.org/show_bug.cgi?id=836897'>this
bugzilla entry</a>. 

That's annoying because FireFox is normally my daily driver but eight years is
enough to have to wait for a feature like that. 

So, I'm really sorry, but please switch to Chrome for this project, until 
Mozilla gets its act together, assuming it ever will. 

